{% extends 'base.html' %}

{% block title %} | About Us {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">About Indie Drive</h1>
                <p class="lead">Your private and secure storage partner!</p>
            </div>
        </div>
    </div>
</section>

<section id="about" class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>We Provide the a secure data storage service</h2>
                <p class="lead">A storage service you can trust!</p>
                <p class="mt-4">Welcome to Indie Drive, your ultimate destination for secure and flexible cloud storage
                    solutions. At Indie Drive, we understand the growing need for reliable data management in today's
                    fast-paced digital world. Our cutting-edge platform offers seamless access to your files, photos,
                    and documents from anywhere, ensuring you stay connected to your data at all times. With top-tier
                    encryption and robust data privacy measures, you can trust us to safeguard your valuable
                    information. Embrace the freedom to store, sync, and share effortlessly with Indie Drive, and
                    experience a new era of convenience and peace of mind for all your cloud storage needs.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Team -->
<section id="team" class="py-5">
    <div class="container">
        <h2 class="text-center">Our Team</h2>
        <div class="row text-center">
            <div class="col-md-4"></div>

            <div class="col-md-4">
                <h4>Sarvang Dave</h4>
                <p class="text-success">Developer</p>
                <hr>
                <p>
                    <i class="fas fa-phone"></i> (782)-882-5119
                </p>
                <p>
                    <i class="fas fa-envelope-open"></i>sdave@dal.ca
                </p>
            </div>

            <div class="col-md-4"></div>
        </div>
    </div>
</section>
{% endblock %}